<h1>All People</h1>

<% unless @people.empty? %>
<table>
  <thead>
    <tr>
      <th>Height</th>
      <th>Weight</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.height %></td>
        <td><%= person.weight %></td>
        <td><%= person.gender %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
    <p>No people yet.</p>
<% end %>

<br>

<% if empty? %>
<p>Instructions: Add at least ONE male and ONE female to unlock the gender predictor.</p>
<% end %>
<%= link_to 'Add New Person to Train Classifier', new_person_path %><br><br>

<% unless empty? %>
<%= link_to 'Get Gender Prediction', new_prediction_path %>
<% end %>