<p id="notice"><%= notice %></p>

<h3>This person is predicted to be a <span style="color:red"><%= @prediction.result %></span>.</h3>

<p>
  <strong>Height:</strong>
  <%= @prediction.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @prediction.weight %>
</p>

<%= link_to 'All Predictions', predictions_path %>

<%= link_to 'All People', people_path %>
