<p id="notice"><%= notice %></p>

<h3>This person is predicted to be a <%= @prediction.result %>.</h3>

<p>
  <strong>Height:</strong>
  <%= @prediction.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @prediction.weight %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
